<h1>ID: <%= @task.id %> のタスク詳細ページ</h1>

<p>TITLE; <%= @task.title %></p>
<p>TASK; <%= @task.content %></p>

<%= link_to 'Back to task lists', tasks_path %>
<%= link_to 'Edit ot this task',edit_task_path(@task) %>
<%= link_to 'Delte this task', @task, method: :delete, data: { confirm: 'Is it sure???'} %>