<h1>ID: <%= @task.id %> -> Task details</h1>

<table class='table table-borderd'>
    <tr>
        <th>ID Number</th>
        <td><%= @task.title %><</td>
    </tr>
    <tr>
        <th>Title</th>
        <td><%= @task.content %></td>
    </tr>
    <tr>
        <th>Task</th>
        <td><%= @task.content %></td>
    </tr>
</table>


<%= link_to 'Edit to this task', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'Delte this task', @task, method: :delete, data: { confirm: 'Is it sure???'},class:'btn btn-danger' %>